  <!-- Navbar -->
  <nav class="bg-green-600 p-4 text-white font-bold text-lg">
    <div class="container mx-auto flex justify-between">
    <div class="text-lg font-bold">Logo</div>
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:underline">Home</a></li>
      <li><a href="/produk" class="hover:underline">Produk</a></li>
      <li><a href="/kontak" class="hover:underline">Kontak</a></li>
    </ul>
  </div>
  </nav>